<!doctype html>
<html lang="en">
  <%- include('../../layouts/head') -%>
  <body class="bg-[#252429] text-[#dadcdd]">
    <%- include('../../components/sidebar') -%>
    <div class="pl-32">
      <!-- Header -->
      <%- include('../../components/header') -%>
      <!-- End Header -->
      <!-- Content -->
      <main class="p-5 min-h-screen">
        <section class="flex gap-5">
          <div class="w-56 h-56 border border-gray-600 rounded-lg">
            profile picture
          </div>
          <div class="flex-1 p-5 bg-[#2a292e] rounded-xl">
            <form action="">
              <div class="grid grid-cols-3 gap-5">
                <div class="flex flex-col gap-2">
                  <label for="">Name</label>
                  <input
                    type="text"
                    class="p-2 rounded-xl bg-[#252429] text-[#dadcdd]"
                    placeholder="Search..."
                  />
                </div>
                <div class="flex flex-col gap-2">
                  <label for="">Email</label>
                  <input
                    type="text"
                    class="p-2 rounded-xl bg-[#252429] text-[#dadcdd]"
                    placeholder="Search..."
                  />
                </div>
                <div class="flex flex-col gap-2">
                  <label for="">asd</label>
                  <input
                    type="text"
                    class="p-2 rounded-xl bg-[#252429] text-[#dadcdd]"
                    placeholder="Search..."
                  />
                </div>
                <div class="flex flex-col gap-2">
                  <label for="">asd</label>
                  <input
                    type="text"
                    class="p-2 rounded-xl bg-[#252429] text-[#dadcdd]"
                    placeholder="Search..."
                  />
                </div>
                <div class="flex flex-col gap-2">
                  <label for="">asd</label>
                  <input
                    type="text"
                    class="p-2 rounded-xl bg-[#252429] text-[#dadcdd]"
                    placeholder="Search..."
                  />
                </div>
                <div class="flex flex-col gap-2">
                  <label for="">asd</label>
                  <input
                    type="text"
                    class="p-2 rounded-xl bg-[#252429] text-[#dadcdd]"
                    placeholder="Search..."
                  />
                </div>
              </div>
            </form>
          </div>
        </section>
      </main>
      <!-- End Content -->
    </div>
  </body>
</html>
